@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Labrada&display=swap");
.wrap {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-family: 'Proxima Nova', sans-serif !important;
    font-size: 8rem !important;
    color: #fff !important;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
}

.subtitle {
    font-family: 'Proxima Nova', sans-serif !important;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #fff;
}

.description {
    font-family: 'Proxima Nova', sans-serif !important;
    font-size: 1.5rem;
    margin-bottom: 0rem;
    color: #fff;
}